body{
    background-image: url(../imagens/basquete.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0% 20%;
    background-attachment: fixed;
    margin: 0;

}


.titulo{
    text-align: center;
    color: red;

}

.painel{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    color:#fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
    width: 500px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 15px;
    

}

input {
    border-radius: 5px;
      
}

#botao{
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 6px;
    font-size: 25px;
    
}

#resultado{
    background-color: white;
    width: 150px;
    height: 20px;
    margin-left: 50%;
    margin-top: 30px;
    transform: translate(-50%);
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    color:rgb(0, 0, 0)
}











